services:
  homarr:
    image: ghcr.io/homarr-labs/homarr:v1.45.3
    container_name: homarr
    restart: unless-stopped
    ports:
      - "80:7575"
    environment:
      - SECRET_ENCRYPTION_KEY=${SECRET_ENCRYPTION_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${CONTAINER_DATA_ROOT}/data:/appdata
    logging:
      driver: journald
      options:
        tag: "{{.Name}}"

  asset-server:
    image: nginx:alpine
    container_name: homarr-asset-server
    restart: unless-stopped
    ports:
      - "8771:80"
    volumes:
      - /usr/share/pixmaps:/mnt/pixmaps:ro
      - /usr/share/halos-homarr-branding:/mnt/branding:ro
      - /var/lib/container-apps:/mnt/container-apps:ro
      - ./nginx-assets.conf:/etc/nginx/conf.d/default.conf:ro
    logging:
      driver: journald
      options:
        tag: "{{.Name}}"
